{% extends 'base.html' %}

{% block title %} - Üye Paneli{% endblock title %}

{% load static %}

{% block content %}
<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">

                    <h2>Şifre Sıfırlama Tamamlandı</h2>

                    <br>
                    <hr>
                    <a href="{% url 'login' %}">Giriş Yap</a>
                    <hr>

                </div><!-- end page-wrapper -->
            </div><!-- end col -->
<!-- SIDEBAR Başlangıç -->
            {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
<!-- SIDE BAR Bitiş -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

{% endblock content %}