                            <div class="custombox prevnextpost clearfix">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="blog-list-widget">
                                            <small class="float-right">Önceki Haber ❮</small><br>
                                            <div class="list-group">
                                                <a href="{{ article.get_previous_by_created.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="w-100 justify-content-between text-right">
                                                        <img src="{{ article.get_previous_by_created.image.url }}" alt="" class="img-fluid float-right">
                                                        <h5 class="mb-1">{{ article.get_previous_by_created.title }}</h5>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!-- end col -->

                                    <div class="col-lg-6">
                                        <div class="blog-list-widget">
                                            <small class="float-left">❯ Sonraki Haber</small><br>
                                            <div class="list-group">
                                                <a href="{{ article.get_next_by_created.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="w-100 justify-content-between">
                                                        <img src="{{ article.get_next_by_created.image.url }}" alt="" class="img-fluid float-left">
                                                        <h5 class="mb-1">{{ article.get_next_by_created.title }}</h5>

                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div>