        <div class="page-title lb single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-star bg-orange"></i> Haberler <small class="hidden-xs-down hidden-sm-down">Ahıska ve Ahıskalı Türkler ile ilgili haberler. </small></h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'blog' %}">Haberler</a></li>
                            <li class="breadcrumb-item active">{{haber.category}}</li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->